@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
}

/* O Tailwind v4 gerencia as cores e fundos globais diretamente no CSS normal agora */
body {
  background-color: #f4f7fb;
  color: #1e293b;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}